E:/Github/Deep-Learning-Neural-Networks/Practice/p1/graph/
p1/graph/
Practice/p1/graph/
Deep-Learning-Neural-Networks/Practice/p1/graph/
Practice/p1/graph/events.out.tfevents.1693988638.THE-MSN-LAPTOP